<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MI primer server</title>
</head>



<body>
    <%-include partials/navigation.ejs%>
    <h3>Hola con express y nodeJS</h3>

    <a href="http://localhost:3000/login">Ir al Login</a>
    <a href="http://localhost:3000/menu">Ir al menu</a>

</body>
</html>