.container{
  display: flex;
  border: 1px solid black;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center
}

.item{
  background: blue;
  height: 40px;
  width: 40px
}

.item:nth-child(even){
  background: red;
}